<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 text-center border border-primary m-1 bg-primary">
            <h2>New York Times News Articles!</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5 border border-dark m-1 text-center">
            <h3>Scrape Completed!</h3>
            <button class="goHome button btn-dark mb-1">Go Home</button>
        </div>
    </div>

</div>